.page {
    max-width: 1280px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    align-self: center;
}

@media screen and (min-width: 1281px) {
    .page {
        margin: 0px auto;
    }
}