.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    padding: 0px 18px 0px 0px;
    transition: opacity 0.4s ease;
}

.footer__link:hover {
    opacity: 0.3;
}

.footer__link:last-of-type {
    margin-right: 0px;
}

@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}